{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Providers Rates</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fromdate</th>
                <td>{{ entity.fromDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Todate</th>
                <td>{{ entity.toDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Cotton price</th>
                <td>{{ entity.cottonPrice }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ entity.active }}</td>
            </tr>
            <tr>
                <th>Docdelete</th>
                <td>{{ entity.docDelete }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('prodprovidersrates') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('prodprovidersrates_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('prodprovidersrates_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
