{% extends '::base.html.twig' %}

{% block body -%}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#supplier').change(function(){
                if($(this).val()){
                    var file_path = "{{ path('prodprices_pricelist', { 'id': '0' }) }}";
                    file_path = file_path.replace("/0/", "/"+ $(this).val() +"/");

                    $.ajax({
                      url: file_path,
                      beforeSend: function(){
                            $('#cboproveedor-search').attr('disabled', true);
                            $('#loadingTarifas').show();
                      },
                      success: function(data){
                            $('#SupplierBody').html(data);
                            $('#btn-new-tarifa').removeClass('disabled');
                      },
                      complete: function(data){
                            $('#cboproveedor-search').attr('disabled', false);
                            $('#loadingTarifas').hide();
                      },
                      error: function(data){
                            alert(data);
                      }
                    });
                 }
            });
        });
    </script>

    <h1>ProdPrices list</h1>
    <table>
        <tr>
            <td>Supplier</td>
            <td>
                <select name="supplier" id="supplier">
                    <option value="">Select Supplier</option>
                    {% for supplier in suppliers %}
                        <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Supplier</th>
                <th>Fromdate</th>
                <th>Todate</th>
                <th>Cottonprice</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="SupplierBody">
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('prodprices_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.prodProvider }}</td>
                <td>{% if entity.fromDate %}{{ entity.fromDate|date('d/m/Y') }}{% endif %}</td>
                <td>{% if entity.toDate %}{{ entity.toDate|date('d/m/Y') }}{% endif %}</td>
                <td>{{ entity.cottonPrice }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('prodprices_view', { 'id': entity.id }) }}">view</a>
                    </li>
                    <li>
                        <a href="{{ path('prodprices_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('prodprices_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('prodprices_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
